
        <br><br><br>
        <% background = Background.new(@forecast["currently"]["icon"]) %>
<div id="wrap">
    <div id="inside">

<div id="forecast"><center><h1><%= @forecast["currently"]["apparentTemperature"].round%>°</h1></center></div>
<div><center><h1> in <%= @forecast["timezone"].match(/\/(.+)$/)[1].gsub("_", " ").titleize %></h1></center></div>
<!-- this is where thr gify logic goes in -->
<div id="giffy"><center><h1><a data-src=<%= background.gif %>><%= @forecast["currently"]["summary"] %></a></h1></center></div>
	<div id="time"><center><h1><%= @forecast["currently"]["time"] %></h1></center></div>
    </div>
</div>
<!-- <div id="caption"><h5>Powered By Giphy</h5></div> -->
<div id="bk"><img id="background" class="background" src=<%= background.url %>></div>