<!DOCTYPE html>
<html>
<head>
  <title>ForecastGif</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
<!-- <script>
window.onload = function() {
    // Add GifLinks to all anchor tags on the page!
    var element = document.querySelector( 'a' );
    GifLinks( element );
}
</script> -->
</head>
<body>

<%= yield %>

</body>
</html>